<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= post.content %>
  </p>

  <p>
    <strong>Premium:</strong>
    <%= post.premium %>
  </p>

  <p>
        All Votes:
        <%= post.cached_votes_score %>
  <p>
  <p>
        Upvotes:
        <%= post.votes_for.up.size%>
  <p>
  <p>
        Downvotes:
        <%= post.votes_for.down.size%>
  <p>  

        <%= button_to "Upvote", upvote_post_path(post), method: :patch %>    
        <%= button_to "Downvote", downvote_post_path(post), method: :patch %>         

</div>
